*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(141, 230, 230);
}
h2{
    font-size: 1.65rem;
}
.container{
    background-color: #fafcfc;
    border-radius: 10px;
    padding: 2rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin:2rem 0 1rem 0 ;

}
form select,
button,
input{
    width: 100%; 
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid black;
    font-size: 1rem;
    height:3rem ;
    padding-left: 0.5rem;
}
form input:hover{
     background-color: #eceef2;
    box-shadow: 0 4px 10px rgba(183, 177, 177, 0.2);
}
form input:active {
    transform: scale(0.95);
}
.dropdown {
     display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.Select-container img {
    max-width: 2rem;
}
.Select-container {
     display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chocolate; */
    width: 6rem;
     border: 2px solid rgb(31, 29, 27);
    border-radius: 0.5rem;
   
}
.Select-container select{
    font-size: 1rem;
   width: auto; 
}
.msg{
    margin: 2rem 0 2rem 0;
    font-size: 1.15rem;
}

form button{
    background-color: purple;
    height: 3rem;
    color: #fff;
    font-size:1.15rem;
    cursor: pointer;
}

