* {
margin:0 ;
font-family: Arial;
border:border-box ;
}
.navbar {
 height: 60px;
 background-color:#0f1111 ;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
}


.navlogo{
   height: 50px; 
   width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px; 
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
  border: 2px solid white;
}
.address1{
    color: #cccccc;
    font-size:0.85rem; 
    margin-left: 15px;
}
.address2 {
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
    
}
.nav-address{
height: 50px; 
   width: 80px;
  align-content: center; 
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 845px;
    border-radius: 5px;
background-color: pink;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
 background-color: #f3f3f3;
 width: 50px;
 text-align: center;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 border: none;
}
.search-icon{
    background-color: orange;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 1.2rem;
   border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
 color: black;
}
.search-input{
    width: 100%;
    border: none;
    font-size:1rem ;
}
span{
 font-size: 0.7rem;
}
.nav-p2{
font-size:0.85rem ;
font-weight: bold;
}
.nav-cart i {
font-size: 28px;
}
.nav-cart{
    font-size:0.85rem ;
    font-weight:bold;
}


.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 50px;

}
.panel-all{
    margin-left: 30px;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
font-weight: bold;
font-size: 0.9rem;
}
.hero-section{
    background-image: url(main.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-msg{
  background-color: white;
  color: black ;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}

.shop-section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #e2e7e6;
padding-bottom: 15px;
}

.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
    background-color: white;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.shop-p{
    color: #007185;
}
footer{

}
.foot-panel1{
    background-color: #374758;
    color: white;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display:flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul p{
    font-weight: bold;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid white;
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px; 
   width: 100px;
}
.eng{
    border: 0.3px solid white ;
    border-radius: 2px;
    height: 33px;
    width: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5px;
}
.rupees{
border: 0.3px solid white;
border-radius: 2px;
 height: 33px;
    width: 166px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.foot-panel4{
    background-color:#0f1111 ;
    color: white;
    height: 80px;
    font-size: 0.7rem;
text-align:center;
}
.pages{
 
padding-top: 25px;
}
.copy-right{
    padding-top: 5px;
}