*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #c4dfc4;
}
h1{
    background-color: #1d4471;
    color: #fff;
    height: 5rem;

    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
     display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 50% ;
}
.choice:hover{
    cursor: pointer;
    background-color: #1d4471;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50% ;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 5rem;
}
#user , #comp{
  font-size: 4rem;
}
.msg{
    margin-top: 5rem;
}
#message{
    background-color: #1d4471;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}